// App Colouring
ta-purple = #4f237a
ta-red = #bc597a
ta-amber = #ffba81
ta-green = #68b546
ta-blue = #57b3e7
ta-dark-blue = #168eda
ta-orange = #e77f3f
ta-dark = #2b2f3e
ta-grey = #e1e1e1

border-colour = #dcdcdc
light-border-colour = #eaeaea

inner-colour = #aeaeae;

// Main Gradient Mixin
app-gradient()
	background linear-gradient(ta-purple, ta-red, ta-amber)
	
two-stop-gradient()
	background linear-gradient(ta-red, ta-amber)