// Mixin Functions
naked-link()
	text-decoration none
	color inherit
	
txtc()
	text-align center

txtl()
	text-align left
	
txtr()
	text-align right
	
clearfix()
	display table
	content " "
	clear both