// Buttons

.Button
	display inline-block
	background ta-grey
	font-size 1em
	padding 8px 12px
	margin-right 2px
	color ta-dark
	text-decoration none
	border-radius 3px
	cursor pointer
	
	&.--small
		padding 3px
		font-size 0.8em
		
	&.--blend
		background none
		
	&.--expanded
		width 100%
		
	&.--login
		font-size 1.2em
		padding 10px 0
		background ta-red
		color #fff