// Dropdown styling

.Dropdown
	position absolute
	top 50px
	left 0
	background #fff
	border 1px solid border-colour
	box-shadow rgba(black, 0.14) 0 1px 2px
	z-index 10002
	width 100%
	min-width 100px
	min-height 50px
	display none
	
	&.active
		display block
	
	ul
		list-style-type none
		padding 5px 0
		
		li
			display block
			
			&.divider
				border-top 1px solid light-border-colour
				margin 5px 0
			
			a
				display block
				padding 8px 12px
				transition background 0.3s
				font-size 0.9em
				
				&:hover
					background light-border-colour
				
				i
					font-size 1em!important
					width 30px