// Form Styling

.inputs
	display block
	margin-bottom 15px
	
	input, input[type=number], select, textarea
		border 1px solid border-colour
		border-radius 3px
		font-size 1em
		width 100%
		padding 8px 12px
		height 37px
		background #fff
		
	select
		cursor pointer
		

	label
		margin-bottom 10px
		display block
		cursor pointer
		
.Modular-form
		
	select[multiple]
		height 200px