row()
	margin 12px 0
	display block
	position relative
	
	&::after
		clearfix()
	
	&.nm
		margin 0

column()
	float left
	padding 0 12px
	
	&.np
		padding 0
		
grid(n)
	width ((n / 12) * 100)%
	
.Row
	row()
	
for num in (1..12)
	.sm{num}
		column()
		grid(num)