.Panel
	display block
	padding 12px
	margin 12px 0
	
	&.--n-p
		padding 0
	
	&.--shadowed
		box-shadow rgba(black, 0.09) 0 0 50px
		
	&.--b-b
		border-bottom 1px solid border-colour
		transition border-color 0.3s
		
	&.--bordered
		border 1px solid border-colour
		
	&.--hoverable
		&.--b-b:hover
			border-color ta-red
		
	.Panel__stat
		txtc()
		font-size 3.4em
		display block
		font-weight 200
		color #000
	
	.Panel__stat-label
		txtc()
		display block
		color inner-colour
		
	h1, h2
		margin-bottom 12px
		
	p
		margin 20px 0
		
		&:last-child
			margin-bottom 0
			
	.Panel__heading
		font-size 1.2em
		font-weight 400
		color #000
		border-bottom 1px solid border-colour
		margin-bottom 20px
		display block
		padding-bottom 12px
