// Table Styling

table
	width 100%
	border-collapse collapse
	
	th, td
		txtl()
		padding 8px 12px
		
	thead
		tr 
			border-bottom 1px solid light-border-colour
			
		th
			font-weight 300
			
	tbody
		tr
			transition background 0.3s
			cursor pointer
			
			&:hover
				background light-border-colour
				
			td
				a
					color ta-dark