// Timetable Styles
// Pretty important for this app!

.Timetable
	display block
	// border-top 1px solid light-border-colour
	margin-top 20px
	position relative
	
	&.--extra-top
		margin-top 30px
	
	table
		width 100%
		
		th
			font-weight 300
			
			&.Title
				font-size 1.2em
				font-weight 400
		
		thead
			th
				// border-left 1px solid light-border-colour
				width 120px
			
		tbody
			th
				height 70px
				
			td
				border-left 1px solid light-border-colour
				position relative
				
			tr
				background none
				border-bottom 1px solid light-border-colour
				
.Allocation
	position absolute
	width 100%
	top 10px
	left 0
	font-size 0.8em
	height 50px
	overflow hidden
	background ta-blue
	padding 5px
	color #fff
	
	span
		display block
		font-weight 600
		
	&[data-length="6"]
		width 605%!important
