// Bertie
// Timetable Assistant Styles
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,100,600');

@import 'includes/Colours'
@import 'includes/Layout'
@import 'includes/Mixins'
@import 'includes/Fonts'

*
	box-sizing border-box
	margin 0
	padding 0
	outline 0
	border 0
	font-family copy-font
	
html, body
	height 100%
	background-size cover
	
	&.auth
		background-image linear-gradient(#fff, border-colour)
		padding-top 100px
		
a
	text-decoration none
	
.sr
	display none
	
.Login, .Register
	width 90%
	position relative
	display block
	margin 0 auto
	background #fff
	box-shadow rgba(black, 0.24) 0 0 2px
	padding 12px
	border-top 5px solid ta-red
	
	.Auth__input
		margin 5px 0 12px 0
		
		label
			margin-bottom 10px
			display block
			cursor pointer
		
		&.--options
			font-size 0.9em
			padding 10px 0 25px
			
			a
				naked-link()
	
	input:not([type="checkbox"]), select, textarea
		font-size 1em
		border 1px solid border-colour
		padding 8px 12px
		width 100%
		border-radius 3px
		
.Login
	max-width 400px
	txtc()
	
	label
		display none!important
	
	.Login__header
		
		i
			font-size 4em
			margin 20px 12px 30px
			color #b2b2b2
			
	.Login__footer
		margin 12px 0 0
		padding 12px 0
		
		a
			naked-link()
		
.Register
	max-width 800px
	
	.Register__header
		txtc()
		padding 20px 0
		
	.Register__footer
		txtc()
		padding 10px 0
		
		a
			display inline-block
			padding 20px
			naked-link()

.Header
	position fixed
	height header-height
	top 0
	right 0
	bottom 0
	left 0
	background #fff
	// box-shadow rgba(black, 0.14) 0 1px 1px
	border-bottom 1px solid border-colour
	z-index 10002
	
	.Logo
		height 60px
		display block
		position relative
		line-height 60px
		font-size 1.2em
		margin-bottom 10px
		naked-link()
		width 240px
		color ta-dark
		padding 0 12px
		font-weight 300
		
		strong
			font-weight 600
		
		i
			position relative
			top 1px
			
	.User
		position absolute
		right 0
		top 0
		padding 0 12px
		height header-height
		
		a
			line-height header-height
			color ta-dark
			naked-link()
			font-weight 300
		
			i
				font-size 0.8em
				
				&.avatar
					padding 5px
					border-radius 50%
					background ta-grey
					color #fff
					margin-right 5px
	
		.Dropdown
			top header-height - 1px
			border-right 0
			
			a
				line-height 1.6em

.Header__content
	height 50px
	position relative
	display block
	margin-bottom 20px
	height 50px
	line-height 50px
	
	.Tools
		position absolute
		right 0
		top 5px
		height 50px
		line-height 50px
		
		a 
			display inline
			float left
			naked-link()
			background ta-grey
			line-height 35px
			padding 0 20px
			border-right 1px solid #fff
			
			&:first-child
				border-top-left-radius 3px
				border-bottom-left-radius 3px
				
			&:last-child
				border-top-right-radius 3px
				border-bottom-right-radius 3px
				border-right 0

.Sidebar
	width sidebar-width
	color ta-dark
	position fixed
	top header-height
	bottom 0
	left 0
	background #f8f8f8
	padding-top 20px
	border-right 1px solid border-colour
	
	a
		naked-link()
		
.Navigation
	
	a
		display block
		font-weight 300
		border-left 5px solid transparent;
		padding 18px 0
		
		i 
			width 50px
			txtc()
			position relative
			top 1px
			
		&.active
			border-color ta-red
			
.Main
	padding 20px
	padding-top header-height + 20px
	background #fff
	position relative
	display block
	margin-left sidebar-width
	
	&.--external
		max-width 1200px
		margin 0 auto
	
h1, h2
	font-weight 400
	
	small
		color inner-colour
		
.rounded
	width 35px
	height 35px
	border-radius 50%
	transition background 0.3s
	font-size 0.7em
	padding 5px
	color ta-dark
	txtc()
	top 0
	
	&:hover
		background ta-grey
		
.notice
	font-size 0.95em
	font-weight 300
	
	strong
		font-weight 400
		
	.Button
		margin-left 12px
		
hr
	border-top 1px solid border-colour
	margin 30px 0
	

@import 'components/Grid'
@import 'components/Table'
@import 'components/Button'
@import 'components/Form'
@import 'components/Timetable'
@import 'components/Dropdown'
@import 'components/Panel'

.txtc
	text-align center
	
.txtl
	text-align left

.txtr
	text-align right

.Divider
	text-align center
	overflow hidden
	color inner-colour
	font-size 1.2em
	
	span
		display inline-block
		min-width 80px
		position relative
		
		&::before, &::after
			content ""
			width 600px
			position absolute
			top 50%
			border-top 1px solid border-colour
			height 2px
		
		&::before
			right 100%
			margin-right 15px
		
		&::after
			left 100%
			margin-left 15px
			
.Search__results
	list-style-type none
	margin 20px 0
	
	li
		a
			padding 12px
			display block
			font-size 1.2em
			naked-link()
			background light-border-colour
			margin 10px 0
			
			&:hover
				box-shadow rgba(black, 0.24) 0 0 4px
				
.Time__input
	width 60px!important
	display inline-block!important